.footer-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem 3rem;
	margin-top: 2rem;
	max-width: 1500px;
	margin: auto;
}

.footer-left {
	text-align: center;
	justify-self: start;
}

.heart {
	margin: auto 1rem;
}

.social-container {
	width: fit-content;
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #effaf1;
	padding: 0.5rem;
	border-radius: 3rem;
}

.social-container img {
	margin: auto 0.5rem;
}

.footer-middle {
	text-align: center;
	align-self: center;
}
