.header-container {
	max-height: fit-content;
	margin: 0 16px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.brand {
	width: 8rem;
	height: 8rem;
	position: relative;
	left: 12rem;
}

.navigation {
	width: 100%;
	text-align: end;
	display: flex;
	justify-content: flex-end;
	margin-right: 6rem;
}

.nav-items {
	display: flex;
}
