.header-container {
	max-width: 1440px;
	margin: auto;
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand {
	width: 8rem;
	height: 8rem;
}

.navigation {
	width: 100%;
	text-align: end;
	display: flex;
	justify-content: flex-end;
}
